
{% extends 'base.html' %}
{% load helpers %}


{% block content %}
{% include 'netbox_netisp/generic/navigation.html' %}
<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Ticketing</strong>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                        <span class="badge pull-right">{{ wirelessticket_count }}</span>
                        <h4 class="list-group-item-heading"><a href="{% url 'plugins:netbox_netisp:wirelessticket_list' %}">Wireless Tickets</a></h4>
                    <p class="list-group-item-text text-muted"></p>
                </div>
                <div class="list-group-item">
                        <span class="badge pull-right">{{ fiberticket_count }}</span>
                        <h4 class="list-group-item-heading"><a href="#">Fiber Tickets</a></h4>
                    <p class="list-group-item-text text-muted"></p>
                </div>
                <div class="list-group-item">
                        <span class="badge pull-right">{{ wirelessticket_confirmation_count }}</span>
                        <h4 class="list-group-item-heading"><a href="{% url 'plugins:netbox_netisp:wirelessticket_confirm_list' %}">Tickets awaiting confirmation</a></h4>
                    <p class="list-group-item-text text-muted"></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>CRM</strong>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                        <span class="badge pull-right">{{ customer_count }}</span>
                        <h4 class="list-group-item-heading"><a href="{% url 'plugins:netbox_netisp:customer_list' %}">Customers</a></h4>
                    <p class="list-group-item-text text-muted">Past and present point of contacts for accounts</p>
                </div>
                <div class="list-group-item">
                        <span class="badge pull-right">{{ account_count }}</span>
                        <h4 class="list-group-item-heading"><a href="{% url 'plugins:netbox_netisp:account_list' %}">Accounts</a></h4>
                        <p class="list-group-item-text text-muted">Entities responsible for services</p>
                </div>
                <div class="list-group-item">
                        <span class="badge pull-right">{{ address_count }}</span>
                        <h4 class="list-group-item-heading"><a href="{% url 'plugins:netbox_netisp:address_list' %}">Addresses</a></h4>
                        <p class="list-group-item-text text-muted">Addresses created</p>
                </div>
                <div class="list-group-item">
                        <span class="badge pull-right">{{ billingpackage_count }}</span>
                        <h4 class="list-group-item-heading"><a href="{% url 'plugins:netbox_netisp:billingpackage_list' %}">Billing Package</a></h4>
                        <p class="list-group-item-text text-muted">Billing packages</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>RF</strong>
            </div>
            <div class="list-group">

            </div>
            <div class="list-group">
                <div class="list-group-item">
                        <span class="badge pull-right">{{ sector_count }}</span>
                        <h4 class="list-group-item-heading"><a href="{% url 'plugins:netbox_netisp:radioaccesspoint_list' %}">Sector Radios</a></h4>
                        <p class="list-group-item-text text-muted">Access Points that originate RF</p>
                </div>
                <div class="list-group-item">
                        <span class="badge pull-right">{{ antenna_count }}</span>
                        <h4 class="list-group-item-heading"><a href="{% url 'plugins:netbox_netisp:antennaprofile_list' %}">Sector Antennas</a></h4>
                        <p class="list-group-item-text text-muted">Devices that amplify RF</p>
                </div>
                <div class="list-group-item">
                        <span class="badge pull-right">{{ cpe_count }}</span>
                        <h4 class="list-group-item-heading"><a href="{% url 'plugins:netbox_netisp:customerpremiseequipment_list' %}">Customer Radios</a></h4>
                        <p class="list-group-item-text text-muted">Radios delivering service to customers</p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Fiber</strong>
            </div>
            <div class="list-group">

            </div>
            <div class="list-group">
                <div class="list-group-item">
                        <span class="badge pull-right">{{ olt_count }}</span>
                        <h4 class="list-group-item-heading"><a href="{% url 'plugins:netbox_netisp:olt_list' %}">GPON OLTs</a></h4>
                        <p class="list-group-item-text text-muted">Devices that terminate aggregated GPON services</p>
                </div>
                <div class="list-group-item">
                        <span class="badge pull-right">{{ splitter_count }}</span>
                        <h4 class="list-group-item-heading"><a href="#">GPON Splitters</a></h4>
                        <p class="list-group-item-text text-muted">Devices that distribute optical light across many ports</p>
                </div>
                <div class="list-group-item">
                        <span class="badge pull-right">{{ ont_count }}</span>
                        <h4 class="list-group-item-heading"><a href="#">GPON ONTs</a></h4>
                        <p class="list-group-item-text text-muted">Devices that terminate a GPON service</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}