{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}
{% load plugins %}
{% load plugin_extras %}
{% load static %}
{% load tz %}

{% load helpers %}
{% load render_table from django_tables2 %}

{% block content %}
{% include 'netbox_netisp/generic/navigation.html' %}



<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Account</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>First Name</td>
                    <td>{{ object.primary_applicant.name }}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{ object.primary_applicant.phone }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ object.primary_applicant.email }}</td>
                </tr>
            </table>
        </div>
        {% if selected_service is not None %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Service Billing Detail</strong>
                </div>
                <table class="table table-hover panel-body attr-table table-condensed">
                    <tr>
                        <td>Billing completed</td>
                        <td><label class="label label-success">{{ selected_service.billing.billing_updated }}</label></td>
                    </tr>
                    <tr>
                        <td>Billing start date</td>
                        <td>{{ selected_service.billing.billing_start_date }}</td>
                    </tr>
                    <tr>
                        <td>Billing comments</td>
                        <td>{{ selected_service.billing.comments }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Services</strong> ({{ service_count }})
                <div class="pull-right">
                    <a href="{% url 'plugins:netbox_netisp:service_add' account_id=object.pk %}" class="label label-primary">Add new service</a>
                </div>
                <div><label class="label label-danger">{{ service_error }}</label></div>
            </div>
            {% if service_table %}
                {% render_table service_table %}
            {% else %}
                < Service Placeholder >
            {% endif %}
        </div>
    </div>
{% if selected_service %}
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Service Detail</strong>
                <div><label class="label label-danger">{{ service_detail_error }}</label></div>

            </div>
            {% include selected_service_template %}
            <br>
            <div>
                <table class="table table-hover panel-body attr-table table-condensed">
                    <tr>
                        <th>Actions</th>
                        <td><a class="btn btn-primary" href="{% url 'plugins:netbox_netisp:ticket_add' service_id=selected_service.pk ticket_type='repair' %}">Repair</a></td>
                        <td><a href="{% url 'plugins:netbox_netisp:account_update' pk=object.pk action='place_hold' %}" class="btn btn-warning">Put on Hold</a></td>
                        <td><a href="{% url 'plugins:netbox_netisp:account_update' pk=object.pk action='disconnect' %}" class="btn btn-danger">Disconnect</a></td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endif %}
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Service Orders </strong>
            </div>
            {% if ticket_table %}
                {% render_table ticket_table %}
            {% else %}
                < Ticket Table Placeholder >
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Attachments</strong>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Account</p>
            </div>
            < Photo Placeholder >
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Fiber</p>
            </div>
            < Photo Placeholder >
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Wireless</p>
            </div>
            < Photo Placeholder >
        </div>
    </div>
</div>

{% endblock %}