{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}
{% load plugins %}
{% load static %}
{% load tz %}
{% load render_table from django_tables2 %}

{% block header %}
{% include 'netbox_netisp/generic/navigation.html' %}

    <div class="row noprint">
        <div class="col-sm-8 col-md-9">
            <ol class="breadcrumb">
                <li><a href="{% url 'plugins:netbox_netisp:address_list' %}">Addresses</a></li>

                <li>{{ object }}</li>
            </ol>
        </div>
        <div class="col-sm-4 col-md-3">
            <form action="{% url 'plugins:netbox_netisp:address_list' %}" method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search addresses" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <span class="mdi mdi-magnify" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="pull-right">
        <a class="btn btn-info btn-sm" href=" {% url 'plugins:netbox_netisp:address_list' %}">Address List</a>
        <a class="btn btn-warning btn-sm" href=" {% url 'plugins:netbox_netisp:address_edit' pk=object.pk %}">Edit</a>
        <a class="btn btn-danger btn-sm" href=" {% url 'plugins:netbox_netisp:address_delete' pk=object.pk %}">Delete</a>
    </div>

{% endblock %}




{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Address</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Street number</td>
                    <td>{{ object.street_number }}</td>
                </tr>
                <tr>
                    <td>Street ordinance</td>
                    <td>{{ object.street_ordinance }}</td>
                </tr>
                <tr>
                    <td>Street name</td>
                    <td>{{ object.street_name }}</td>
                </tr>
                <tr>
                    <td>Street suffix</td>
                    <td>{{ object.street_suffix }}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{ object.city }}</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>{{ object.state_code }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2"
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Associated Services</strong>
            </div>
            {% if service_table %}
                {% render_table service_table %}
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% include 'inc/created_updated.html' %}
    </div>
</div>

{% endblock %}


