{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}
{% load plugins %}
{% load static %}
{% load tz %}

{% block header %}
    <div class="row noprint">
        <div class="col-sm-8 col-md-9">
            <ol class="breadcrumb">
                <li><a href="{% url 'plugins:netbox_netisp:address_list' %}">Addresses</a></li>

                <li>{{ object }}</li>
            </ol>
        </div>
        <div class="col-sm-4 col-md-3">
            <form action="{% url 'plugins:netbox_netisp:address_list' %}" method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search addresses" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <span class="mdi mdi-magnify" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="pull-right">
        <a class="btn btn-info btn-sm" href=" {% url 'plugins:netbox_netisp:address_list' %}">Address List</a>
        <a class="btn btn-warning btn-sm" href=" {% url 'plugins:netbox_netisp:address_edit' pk=object.pk %}">Edit</a>
        <a class="btn btn-danger btn-sm" href=" {% url 'plugins:netbox_netisp:address_delete' pk=object.pk %}">Delete</a>
    </div>

{% endblock %}




{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>{{object}}</h2>
        {% include 'inc/created_updated.html' %}
    </div>
</div>


<div class="row">
    <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Associated Accounts</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                </tr>
            </table>
        </div>
</div>


{% endblock %}


