{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}
{% load plugins %}
{% load static %}
{% load tz %}

{% block header %}
    <div class="row noprint">
        <div class="col-sm-8 col-md-9">
            <ol class="breadcrumb">
                <li><a href="{% url 'plugins:netbox_netisp:ticket_list' %}">Ticket List</a></li>

                <li>ticket</li>
            </ol>
        </div>
        <div class="col-sm-4 col-md-3">
            <form action="{% url 'plugins:netbox_netisp:ticket_list' %}" method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search tickets" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <span class="mdi mdi-magnify" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block content %}
{% include 'netbox_netisp/generic/navigation.html' %}

<div class="row">
    <a class="btn btn-info btn-sm" href=" {% url 'plugins:netbox_netisp:ticket_list' %}">Ticket List</a>
    <a class="btn btn-warning btn-sm" href=" {% url 'plugins:netbox_netisp:ticket_edit' pk=object.pk %}">Edit</a>
    <a class="btn btn-danger btn-sm" href=" {% url 'plugins:netbox_netisp:ticket_delete' pk=object.pk %}">Delete</a>


    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Radio Access Point</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Service</td>
                    <td>{{ object.service }}</td>
                </tr>
                <tr>
                    <td>Created</td>
                    <td>{{ object.date_opened }}</td>
                </tr>
                <tr>
                    <td>Completed</td>
                    <td>{{ object.date_closed }}</td>
                </tr>
                <tr>
                    <td>Notes</td>
                    <td>{{ object.notes }}</td>
                </tr>

            </table>
        </div>
    </div>
</div>

    {% include 'netbox_netisp/generic/created_updated.html' %}

{% endblock %}


