{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}
{% load plugins %}
{% load static %}
{% load tz %}

{% block header %}
    <div class="row noprint">
        <div class="col-sm-8 col-md-9">
            <ol class="breadcrumb">
                <li><a href="{% url 'plugins:netbox_netisp:wirelessticket_list' %}">Wireless Ticket List</a></li>

                <li>Wireless Ticket</li>
            </ol>
        </div>
        <div class="col-sm-4 col-md-3">
            <form action="{% url 'plugins:netbox_netisp:wirelessticket_list' %}" method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search tickets" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <span class="mdi mdi-magnify" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block content %}
{% include 'netbox_netisp/generic/navigation.html' %}

<div class="row">
    <a class="btn btn-info btn-sm" href=" {% url 'plugins:netbox_netisp:wirelessticket_list' %}">Ticket List</a>

    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Wireless Ticket</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Service</td>
                    <td>{{ object.service }}</td>
                </tr>
                <tr>
                    <td>Ticket Type</td>
                    <td>{{ object.type }}</td>
                </tr>
                <tr>
                    <td>Date closed</td>
                    <td>{{ object.date_closed }}</td>
                </tr>
                <tr>
                    <td>Priority</td>
                    <td>{{ object.priority }}</td>
                </tr>

                <tr>
                    <td>Status</td>
                    <td>{{ object.status }}</td>
                </tr>
                <tr>
                    <td>RSSI</td>
                    <td>{{ object.rssi }}</td>
                </tr>
                <tr>
                    <td>Local Noise Floor</td>
                    <td>{{ object.local_noise_floor }}</td>
                </tr>
                <tr>
                    <td>Survey Height</td>
                    <td>{{ object.survey_height }}</td>
                </tr>
                <tr>
                    <td>CPE</td>
                    <td>{{ object.cpe }}</td>
                </tr>
                <tr>
                    <td>Conclusion</td>
                    <td>{{ object.conclusion }}</td>
                </tr>
                <tr>
                    <td>Notes</td>
                    <td>{{ object.notes }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

    {% include 'netbox_netisp/generic/created_updated.html' %}

{% endblock %}


